
.seats_details {
  float: right;
  position: absolute;
  top: 100%;
}
.candidate_details{
    display: none;
}

.candidate_name:hover .candidate_details{
    display: block;
}
.information{
    width: 1000px;
    /*overflow: auto;*/
}
/*.space{
  position: relative;
  height: 500px;
}*/
/*.seats_details{
  position: fixed;
  border-style: solid;
  width: 500px;
  top: 0px;
}*/
/*table, th, td {
    border: 1px solid black;
}*/
.state_table {display: block; }
.state_table td {
    border: 1px solid black;
  display: inline-block;
  width:95px;
  height:40px;
  text-align: center;
}
