<!DOCTYPE html>
<html>

    <head>

        <!-- angular -->
        <script type="text/javascript" src="js/angular.js"></script>

        <!-- script -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/senators.js"></script>
        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body ng-app="myApp">
        <div class="container" ng-controller="BaseController as base">

          <div ng-controller="SenatorsController as senatorCtrl">


            <div><h1><center>2016 United States Senate Election Data</center></h1></div>
            <br>

            <div class = "display"  class = "row">
            <div  class="row" ng-show = "showDetails">
              <div class="col-sm-4">
              <p>
                State: {{selected.senator.state}}<br>
                Senator: {{selected.senator.senator}}<br>
                Party: {{selected.senator.party}}<br>
              </p>
                <div ng-if="selected.senator.election">
                  <p>Candidates: <br>
                  <ul>
                    <li class = "candidate_name" ng-repeat = "candidates in selected.senator.candidates">
                      {{candidates.name}} ({{candidates.party}})
                   </li>
                  </ul>
                  </p>
                </div>
              </div>
              <div class="col-sm-3" ng-if="selected.senator.election">
                <img src={{selected.senator.candidates[0].img}} width="220" height="279" class="img-rounded">
                <p>{{selected.senator.candidates[0].name}}</p>
              </div>
              <div class="col-sm-5" ng-if="selected.senator.election">
                <p>
                         Party: {{selected.senator.candidates[0].party}}<br>
                           Bio: <br>
                           {{selected.senator.candidates[0].bio}}<br>
                           Platform:
                           <ul>
                           <li>{{selected.senator.candidates[0].platform1}}</li>
                           <li>{{selected.senator.candidates[0].platform2}}</li>
                           <li>{{selected.senator.candidates[0].platform3}}</li>
                         </ul>


                       </p>
              </div>
            </div>
                      </div>
            <div class = "information" ng-click="showDetails=true">
            <table class="state_table" >
            <tr >
              <!-- ng-repeat="senators in senatorCtrl.senators" -->
                <td class = "seats" style="position: relative;" ng-repeat="senator in senatorCtrl.senators"  ng-click="selectPerson(senator)">
              <div class = "cell" ng-style= "((senator.party == 'Republican') && {'background-color':'#FFB6B6'} )|| ((senator.party == 'Democrat') && {'background-color':'#B0CEFF'} )|| {'background-color':'#fdfd7f'}">{{senator.state}}</div>
               </td>
            </tr>
        </table>

          </div>


                  </div>
        </div>

    </body>
</html>
